.intro {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.test {
  display: flex;
  justify-content: center;
}
.scores {
  padding: 10px 10px;
  margin: 10px;
  font-weight: 600;
  background-color: rgb(212, 182, 242);
  user-select: none;
  box-shadow: 1px 1px 3px 1px rgb(73, 50, 95);
}
